// .hero-image {
//     background-image: linear-gradient(0deg, rgba(4, 102, 159, 0.9), rgba(4, 102, 159, 0.9)), url('../assets/images/pic-fifththird-hero.jpg');
//     height: 90vh;
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     position: relative;
//     display: flex;
//     flex-direction: column;

//     .logo {
//         padding: 50px 100px;

//         @media (max-wdith: 768px) {
//             align-self: center;
//         }
//     }
    
//     .hero-text {
//         text-align: center;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         color: $text-white;
//         font-size: 1.4rem;
//         font-weight: normal;
//         font-style: normal;
//         font-family: 'effraregular';

//         @media (max-width: 768px) {
//             font-size: .5rem;
//         }
//     }
// }


#hero {
    background: linear-gradient(0deg, rgba(4, 102, 159, 0.9), rgba(4, 102, 159, 0.9)), url('../assets/images/pic-fifththird-hero.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .hero-content {
        display: flex;
        flex-direction: column;
            
        .logo {
            margin: 50px 100px;
            
            @media (max-width: 768px) {
                align-self: center;
                margin: 50px;
                padding: 100px 0;
            }
        }
    
        .title {
            text-align: center;
            justify-content: center;
            text-align: center;
            align-self: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // display: flex;

            @media (max-width: 1000px) {
                align-self: center;
                margin: 50px 0;
            }
                  
                h1 {
                color: $text-white;
                font-size: 2.5rem;
                font-weight: normal;
                font-style: normal;
                font-family: 'efframedium';
                
                @media (max-width: 1000px) {
                    font-size: 1.6rem;
                    line-height: 1.75;
                    margin: 50px 0;
                }
            }
        }
    }
}