$text-white: #fff;
$text-content: #545454;

@import 'hero';
@import 'services-row';
@import 'logos-row';
@import 'iot-row';
@import 'mobile-row';
@import 'digital-row';
@import 'connect-form';
@import 'footer';

body {
    margin: 0;
    overflow-x: hidden;
}
